
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    margin-bottom: 10px;
    padding-bottom: 3%;
    padding-top: 8%;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 200%;
    color: #333;
    font-weight: bold;

}

ul{
    font-size: 90%;
    font-weight:normal;
    margin-bottom: 20px;
    padding-bottom: 5%;

    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding: auto;
    max-width: 600px;
    margin: 0 auto;   
    list-style: none;

}
ul li{
    margin-bottom: 20px;  /* Aumenta el espacio entre los elementos de la lista */
    line-height: 1.6; 
}
    


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    flex-direction:row;
    padding: 20px;
}


.gallery {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 23%;
    margin: 10px 0;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.gallery img {
    height: auto;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    text-align: center;
}


.desc {
    font-size: 1rem;
    color: #555;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px){
    .gallery {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .gallery {
        width: 100%; 
    }
}