* {
    box-sizing: border-box;
  }


body{ 

    font-family:Verdana;
    color:#aaaaaa;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#e5e5e5;
}


main{

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }


footer{

    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

h1{

    padding:15px;

}


nav{

    width:20%;
    display: flex;
    text-align: center;
    justify-content: center;
    

}


section {

    width: 60%;
    margin: 1%;
    padding: 0 20px;
    background-image: url(fotos/pexels-vlada-karpovich-4448859.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


article{
    width: 15%;
}


.menu {
    overflow:auto;
  }
  

.menu a {
  
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    color: black;
  }
  

  
.right {
    background-color: #e5e5e5;
   
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  /* Extra small devices (portrait phones, less than 576px)
            No media query since this is the default */

            /* Small devices (landscape phones, 576px and up) */
            @media (min-width: 576px) {  

            }

            /* Medium devices (tablets, 768px and up) */
            @media (min-width: 768px) {  
                
            }

            /* Large devices (desktops, 992px and up) */
            @media (min-width: 992px) {  

            }

            /* Extra large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) {  
                
            }